{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Clinics</h1>
    </div>
    <div class="col">
        <a href="/clinic/new" class="btn btn-primary btn-sm mt-5" role="button">New Clinic</a>
    </div>
</div>

{% if clinics %}
    {% for clinic in clinics %}
        <div class="row border">
            <div class="col-1 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5"></h3>
                {% endif %}

                <a href="/clinic/delete/{{clinic.id}}">
                    <img width="25" class="bottom-image" src="/static/delete.png">
                </a>
                <a href="/clinic/edit/{{clinic.id}}">
                    <img width="25" class="bottom-image" src="/static/edit.png">
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5">Date</h3>
                {% endif %}

                <a href="/clinic/{{clinic.id}}">
                    {{moment(clinic.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Name</h3>
                {% endif %}
                {{clinic.name}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Address</h3>
                {% endif %}
                {{clinic.streetAddress}} <br>
                {{clinic.city}}, {{clinic.sate}}  {{clinic.zip}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Description</h3>
                {% endif %}
                {{clinic.description}}
            </div>
            <div class="col-3 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">lat/lon</h3>
                {% endif %}
                {{clinic.lat}}/{{clinic.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Clinics</h1>
{% endif %}

{% endblock %}